*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 5px 0;
}

:root {
    --text-color: #fff;
    --bg-color: #252525;
    --bg2-color: #FF8233;
    --dc-color: #C60D66;
    --title-color: #D62603;
}