*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-banner{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.banner-logo{
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;

}
.right-aside-items{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 170vh;
    top: 15vh;
}
